<div class="dialog-preview" id={{id}}>
    <div class="dialog-preview__photo">
        <img src={{photo}}>
    </div>
    <div class="dialog-preview__content">
        <span class="dialog-preview__dialog-name">{{companion}}</span>
        {{#if lastMessage}}
            <div class="dialog-preview__preview-message">{{lastMessage}}</div>
        {{/if}}
    </div>
    {{#if unreadCount }}
        <div class="dialog-preview__unread-count">
            <span>{{unreadCount}}</span>
        </div>
    {{/if}}
</div>
