<li class="dialog-preview" id={{id}}>
    <div class="dialog-preview-photo">
        <img src={{photo}}>
    </div>
    <div class="dialog-preview-content">
        <span class="dialog-name">{{user2_id}}</span>
        {{#if lastMessage}}
            <div class="preview-message">{{lastMessage}}</div>
        {{/if}}
    </div>
    {{#if unreadCount }}
        <div class="unread-count">
            <span>{{unreadCount}}</span>
        </div>
    {{/if}}
</li>
