<div class="user-name">
    {{this.name}}, {{this.age}}
</div>
<div class="about-user">
    <span class="me">
        О себе:
    </span>
    <span class="me">
        {{this.description}}
    </span>
    <span class="goal">
        Цель:
    </span>
    <span class="goal">
        {{this.looking}}
    </span>
    <span class="education">
        Образование:
    </span>
    <span class="education">
        {{this.education}}
    </span>
    <span class="interests">
        Увлечения:
    </span>
    <span class="interests">
        {{this.hobbies}}
    </span>
    <span class="tags">
        Теги:
    </span>
    <span class="tags">
        {{this.tags}}
    </span>
</div>