<div class="user-name">
    {{name}}, {{age}}
</div>
<div class="about-user">
    <span class="me">
        О себе:
    </span>
    <span class="me">
        {{description}}
    </span>
    <span class="goal">
        Цель:
    </span>
    <span class="goal">
        {{looking}}
    </span>
    <span class="education">
        Образование:
    </span>
    <span class="education">
        {{education}}
    </span>
    <span class="interests">
        Увлечения:
    </span>
    <span class="interests">
        {{this.hobbies}}
    </span>
    <span class="tags">
        Теги:
    </span>
    <span class="tags">
        {{tags}}
    </span>
</div>