<div class="photo-part">
    <div class="user-name">
        {{name}}
        {{#if age}}
        , {{age}}
        {{/if}}
    </div>
    <div class="photo">
        {{#if image_path}}
            <img src="{{photo}}" alt=""/>
        {{else}}
            <img src="/pics/avatar.png" alt=""/>
        {{/if}}
    </div>
</div>
<div class="description">
    <div class="about-user">
        {{#if looking}}
        <span class="goal bold">
            Цель:
        </span>
        <span class="goal">
            {{looking}}
        </span>
        {{/if}}
        {{#if education}}
        <span class="education bold">
            Образование:
        </span>
        <span class="education">
            {{education}}
        </span>
        {{/if}}
        {{#if hobbies}}
        <span class="interests bold">
            Увлечения:
        </span>
        <span class="interests">
            {{hobbies}}
        </span>
        {{/if}}
        {{#if tags}}
        <span class="tags bold">
            Теги:
        </span>
        <span class="tags">
            {{tags}}
        </span>
        {{/if}}
        {{#if description}}
        <span class="me">
            {{description}}
        </span>
        {{/if}}
    </div>
</div>