<div class="form-feed__photo-part">
    <div class="form-feed__user-name">
        {{name}}
        {{#if age}}
        , {{age}}
        {{/if}}
    </div>
    <div class="feed-photo">
        {{#if image_path}}
            <img class="feed-photo__background-photo" src="{{photo}}" alt=""/>
            <img class="feed-photo__main-photo" src="{{photo}}" alt=""/>
        {{else}}
            <img class="feed-photo__main-photo" src="/pics/avatar.png" alt=""/>
        {{/if}}
    </div>
</div>
<div class="description">
    <div class="description__about-user">
        {{#if looking}}
        <span class="description__goal bold">
            Цель:
        </span>
        <span class="description__goal">
            {{looking}}
        </span>
        {{/if}}
        {{#if education}}
        <span class="description__education bold">
            Образование:
        </span>
        <span class="description__education">
            {{education}}
        </span>
        {{/if}}
        {{#if hobbies}}
        <span class="description__interests bold">
            Увлечения:
        </span>
        <span class="description__interests">
            {{hobbies}}
        </span>
        {{/if}}
        {{#if tags}}
        <span class="description__tags bold">
            Теги:
        </span>
        <span class="description__tags">
            {{tags}}
        </span>
        {{/if}}
        {{#if description}}
        <span class="description__me">
            {{description}}
        </span>
        {{/if}}
    </div>
</div>