<div class="form-feed__photo-part">
  <div class="form-feed__feed-photo">

  </div>
</div>
<div class="form-feed__description">
    <div class="form-feed__user-name">
    {{user.name}}{{#if user.age}}, {{user.age}}{{/if}}
  </div>
  <div class="form-feed__about-user">
    {{#if user.looking}}
      <span class="form-feed__text form-feed__text_bold">
        Цель:
      </span>
      <span class="form-feed__text">
        {{user.looking}}
      </span>
    {{/if}}
    {{#if user.education}}
      <span class="form-feed__text form-feed__text_bold">
        Образование:
      </span>
      <span class="form-feed__text">
        {{user.education}}
      </span>
    {{/if}}
    {{#if user.hobbies}}
      <span class="form-feed__text form-feed__text_bold">
        Увлечения:
      </span>
      <span class="form-feed__text">
        {{user.hobbies}}
      </span>
    {{/if}}
    {{#if user.tags}}
      <span class="form-feed__text form-feed__text_bold">
        Теги:
      </span>
      <div class="multiselection form-feed__text">
        {{#each user.tags}}
          <span class="multiselection__selection">{{this}}</span>
        {{/each}}
      </div>
    {{/if}}
    {{#if user.description}}
      <span class="form-feed__text">
        {{user.description}}
      </span>
    {{/if}}
  </div>
</div>