<div class="form-feed__photo-part">
  <div class="form-feed__feed-photo">

  </div>
</div>
<div class="form-feed__description">
    <div class="form-feed__user-name">
    {{name}}
    {{#if age}}
      ,
      {{age}}
    {{/if}}
  </div>
  <div class="form-feed__about-user">
    {{#if looking}}
      <span class="form-feed__text form-feed__text_bold">
        Цель:
      </span>
      <span class="form-feed__text">
        {{looking}}
      </span>
    {{/if}}
    {{#if education}}
      <span class="form-feed__text form-feed__text_bold">
        Образование:
      </span>
      <span class="form-feed__text">
        {{education}}
      </span>
    {{/if}}
    {{#if hobbies}}
      <span class="form-feed__text form-feed__text_bold">
        Увлечения:
      </span>
      <span class="form-feed__text">
        {{hobbies}}
      </span>
    {{/if}}
    {{#if tags}}
      <span class="form-feed__text form-feed__text_bold">
        Теги:
      </span>
      <span class="form-feed__text">
        {{tags}}
      </span>
    {{/if}}
    {{#if description}}
      <span class="form-feed__text">
        {{description}}
      </span>
    {{/if}}
  </div>
</div>