<form class="settings-form">
    <div class="settings-form__photo-part">
        <div class="settings-form__user-name">
            <textarea maxlength="30" id="name" class="input-border__data-input input-border__data-input_text">{{this.user.name}}</textarea>
            <span id="age" class="settings-form__age">{{this.user.age}}</span>
        </div>
        <div class="settings-form__photo">

        </div>
        <div class="settings-form__buttons-photo-setting">
            <button type="button" class="btn btn_important settings-form__button-delete">удалить</button>
            <input type="file" id="file" style="display: none;" accept="image/*" />
            <button type="button" class="btn settings-form__button-add" onclick="document.getElementById('file').click()">добавить фото</button>
        </div>
    </div>
    <div class="settings-form__description-settings">
        <div class="settings-form__about-user">
            <div class="input-border">
                <span class="input-border__header">Ваш пол *</span>
                <select class="input-border__data-input"  id="user_gender">
                    {{#if this.user.hasGender}}
                        {{#if this.user.user_gender}}
                            <option value="" selected="selected">Мужской</option>
                            <option value="">Женский</option>
                        {{else}}
                            <option value="" selected="selected">Женский</option>
                            <option value="">Мужской</option>
                        {{/if}} 
                    {{else}}
                        <option value="" selected="selected"></option>
                        <option value="">Женский</option>
                        <option value="">Мужской</option>
                    {{/if}}
                </select>
            </div>
            <div class="input-border">
                <span class="input-border__header">Кого ищете *</span>
                <select class="input-border__data-input"  id="prefer_gender">
                    {{#if this.user.hasPreferGender}}
                        {{#if this.user.prefer_gender}}
                            <option value="" selected="selected">Мужчин</option>
                            <option value="">Женщин</option>
                        {{else}}
                            <option value="" selected="selected">Женщин</option>
                            <option value="">Мужчин</option>
                        {{/if}} 
                    {{else}}
                        <option value="" selected="selected"></option>
                        <option value="">Мужчин</option>
                        <option value="">Женщин</option>
                    {{/if}}
                </select>
            </div>
            <div class="input-border">
                <span class="input-border__header">Цель</span>
                <select class="input-border__data-input"  id="looking">
                    {{#if this.user.looking}}
                        <option value="" selected="selected">{{this.user.looking}}</option>
                    {{else}}
                        <option value="" selected="selected"></option>
                    {{/if}} 
                    {{#each this.goals}}
                        <option value="">{{this}}</option>
                    {{/each}} 
                </select>
            </div>
            <div class="input-border">
                <span class="input-border__header">Образование</span>
                <select class="input-border__data-input"  id="education">
                    {{#if this.user.education}}
                        <option value="" selected="selected">{{this.user.education}}</option>
                    {{else}}
                        <option value="" selected="selected"></option>
                    {{/if}} 
                    {{#each this.educations}}
                        <option value="">{{this}}</option>
                    {{/each}} 
                </select>
            </div>
            <div class="input-border multiselection">
                <span class="input-border__header">Теги</span>
                <div class="input-border__data-input"  id="tags">
                    <div class="multiselection__selected">
                        {{#if this.user.tags}}
                            {{#each this.user.tags}}
                                <span class="multiselection__selection multiselection__selection_selected">{{this}}</span>
                            {{/each}} 
                        {{/if}} 
                    </div>
                    <div class="multiselection__select-multiple">
                        {{#each this.interests}}
                            <span class="multiselection__selection multiselection__selection_variant" id="{{this}}">{{@key}}</span>
                        {{/each}} 
                    </div>
                </div>
            </div>
            <div class="input-border">
                <span class="input-border__header">Дата рождения *</span>
                    <input id="birthday" type="date" class="input-border__data-input input__data-input_date" name="partydate" value='{{this.user.birthday}}'/>
                </select>
            </div>
            <div class="input-border">
                <span class="input-border__header">О себе *</span>
                    <textarea maxlength="350" class="input-border__data-input input__data-input_text" id="description">{{this.user.description}}</textarea>
                </select>
            </div>
            <div class="error-label"></div>
            <button type="submit" class="btn">сохранить</button>
        </div>
    </div>
    <div class="settings-form__description-settings">
        <h2>Смена данных для входа</h2>
        <div class="settings-form__about-user">
            <div class="input-border">
                <span class="input-border__header">Почта *</span>
                    <textarea maxlength="40" class="input-border__data-input input__data-input_text" id="mail">{{this.user.mail}}</textarea>
                </select>
            </div>
            <div class="input-border">
                <span class="input-border__header">Пароль</span>
                    <input maxlength="50" type="password" class="input-border__data-input input__data-input_password" id="password" autocomplete="new-password">
                    <img src="/pics/eye_closed.png" id="eye" class="input-border__eye">
                </select>
            </div>
            <div class="input-border">
                <span class="input-border__header">Повторите пароль</span>
                    <input maxlength="50" type="password" class="input-border__data-input input__data-input_password" id="repeat-password">
                </select>
            </div>
        </div>
    </div>
</form>
<div class="logout">
    <img src="../pics/logout.png" id="logout" class="logout__img">
</div>
