<form class="settingsForm">
    <div class="photo-part">
        <div class="user-name set-name">
            <textarea id="name">{{this.user.name}}</textarea>
            <span id="age">{{this.user.age}}</span>
        </div>
        <div class="user-photo-setting">
            {{#if this.user.image_path}}
                <img src="https://umlaut-bmstu.me/api/v1/user/{{this.user.id}}/photo" id="user-photo" alt="">
            {{else}}
                <img src="/pics/avatar.png" id="user-photo" alt="">
            {{/if}}
        </div>
        <div class="buttons-settings">
            <button type="button" class="btn delete-btn">удалить</button>
            <input type="file" id="file" style="display: none;" accept="image/*" />
            <button type="button" class="btn add-btn" onclick="document.getElementById('file').click()">добавить фото</button>
        </div>
    </div>
    <div class="description-settings">
        <div class="about-user">
            <div class="input">
                <span class="name-input">Ваш пол</span>
                <select class="form-control Selector"  id="user_gender">
                    {{#if this.user.hasGender}}
                        {{#if this.user.user_gender}}
                            <option value="" selected="selected">Мужской</option>
                            <option value="">Женский</option>
                        {{else}}
                            <option value="" selected="selected">Женский</option>
                            <option value="">Мужской</option>
                        {{/if}} 
                    {{else}}
                        <option value="" selected="selected"></option>
                        <option value="">Женский</option>
                        <option value="">Мужской</option>
                    {{/if}}
                </select>
            </div>
            <div class="input">
                <span class="name-input">Кого ищете</span>
                <select class="form-control Selector"  id="prefer_gender">
                    {{#if this.user.hasPreferGender}}
                        {{#if this.user.prefer_gender}}
                            <option value="" selected="selected">Мужчин</option>
                            <option value="">Женщин</option>
                        {{else}}
                            <option value="" selected="selected">Женщин</option>
                            <option value="">Мужчин</option>
                        {{/if}} 
                    {{else}}
                        <option value="" selected="selected"></option>
                        <option value="">Мужчин</option>
                        <option value="">Женщин</option>
                    {{/if}}
                </select>
            </div>
            <div class="input">
                <span class="name-input">Цель</span>
                <select class="form-control Selector"  id="looking">
                    {{#if this.user.looking}}
                        <option value="" selected="selected">{{this.user.looking}}</option>
                    {{else}}
                        <option value="" selected="selected"></option>
                    {{/if}} 
                    {{#each this.goals}}
                        <option value="">{{this}}</option>
                    {{/each}} 
                </select>
            </div>
            <div class="input">
                <span class="name-input">Образование</span>
                <select class="form-control Selector"  id="education">
                    {{#if this.user.education}}
                        <option value="" selected="selected">{{this.user.education}}</option>
                    {{else}}
                        <option value="" selected="selected"></option>
                    {{/if}} 
                    {{#each this.educations}}
                        <option value="">{{this}}</option>
                    {{/each}} 
                </select>
            </div>
            <div class="input">
                <span class="name-input">Интересы</span>
                <select class="form-control Selector"  id="hobbies">
                    {{#if this.user.hobbies}}
                        <option value="" selected="selected">{{this.user.hobbies}}</option>
                        {{else}}
                        <option value="" selected="selected"></option>
                    {{/if}} 
                    {{#each this.interests}}
                        <option value="">{{this}}</option>
                    {{/each}} 
                </select>
            </div>
            {{!-- <div class="input">
                <span class="name-input">Теги</span>
                <select class="form-control Selector" id="tags">
                    {{#if this.user.tags}}
                        <option value="" selected="selected">{{this.user.tags}}</option>
                    {{/if}} 
                    {{#each this.tags}}
                        <option value="">{{this}}</option>
                    {{/each}} 
                </select>
            </div> --}}
            <div class="input">
                <span class="name-input">Дата рождения</span>
                    <input id="birthday" type="date" class="Selector" name="partydate" value='{{this.user.birthday}}'/>
                </select>
            </div>
            <div class="input">
                <span class="name-input">О себе</span>
                    <textarea class="form-control Selector" id="description">{{this.user.description}}</textarea>
                </select>
            </div>
            <div class="error-label"></div>
            <button type="submit" class="btn save-btn">сохранить</button>
        </div>
    </div>
    <div class="description-settings">
        <h2>Смена данных для входа</h2>
        <div class="about-user">
            <div class="input">
                <span class="name-input">Почта</span>
                    <textarea class="form-control Selector" id="mail">{{this.user.mail}}</textarea>
                </select>
            </div>
            <div class="input">
                <span class="name-input">Пароль</span>
                    <input type="password" class="form-control Selector" id="password" autocomplete="new-password">
                </select>
            </div>
            <div class="input">
                <span class="name-input">Повторите пароль</span>
                    <input type="password" class="form-control Selector" id="repeat-password">
                </select>
            </div>
        </div>
    </div>
</form>
<div class="logout">
    <img src="../pics/logout.png" id="logout">
</div>
